@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Aleo');

body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #FFFFFF;
  background-color: #383d3e;
}
body *{box-sizing: border-box;
margin: 0}
img{
  width: auto;
  max-width: 100%;
}

header{
  background: #393a3b url("../images/header_bg.png") no-repeat center;
  width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  color: #ffffff;
}
p{
  font-family: "Josefin Sans Regular", Josefin Sans, sans-serif ;
  font-weight: 300;
  font-size: 16px;
}
h1{
  font-family: "Josefin Sans Bold", Josefin Sans, sans-serif ;
  font-size: 48px;
  text-transform: uppercase;
}
h2{
  font-family: "Josefin Sans Bold", Josefin Sans, sans-serif ;
  font-size: 24px ;
  text-transform: uppercase;
  letter-spacing: 3px;
}
h3{
  font-family: "Aleo Regular", Aleo, sans-serif ;
  font-size: 36px;
  font-weight: 400;
}
h4{
  font-family: "Josefin Sans Regular", Josefin Sans, sans-serif ;
  font-size: 20px;
  text-transform: uppercase;
}
.wrapper {
  width: 1110px;
  margin: 0 auto;
}
.flex-header{
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
text-align: center;
  padding-top: 255px;
  min-height: 200px;
}
.text p{
  font-family: "Josefin Sans Regular", Josefin Sans, sans-serif ;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 4px;
}
.search-bar{
  position: relative;
  padding-top: 45px;
}
.search-bar input[type="search"]{
  width: 650px;
  height: 60px;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 18px;
  padding-left: 25px ;
  border: none;
}
.search-bar input[type="search"]::placeholder{
  font-family: "Josefin Sans Regular", Josefin Sans, sans-serif ;
  color: #999999;
  padding-left: 125px;
}
.search-bar input[type="submit"]{
  position: absolute;
  right: 232px ;
  bottom: 2px;
  width: 148px;
  height: 56px;
  border: none;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}
.button-add{
  background-image: url(../images/search.png);
  background-color: #5474fd;
  background-repeat: no-repeat;
  background-position: 110px 18px;
}

div.scroll{
padding: 120px 0;
}
div.scroll a {
  display: block;
  width: 140px;
  height: 40px;
  background: url("../images/scroll.png") no-repeat bottom;
  background-color: transparent;
  text-align: center;
  font-family: "Josefin Sans Regular", Josefin Sans, sans-serif ;
  letter-spacing: 4px;
  margin: 0 auto;
}
.menu{
  background-color: #5474fd ;

}
.flex-menu{
  display: flex;
  min-height: 85px;
  justify-content: space-between;
  align-items: center;
}
 nav{
   width: 540px;
  display: flex;
   justify-content: space-between;
   text-transform: uppercase;
   font-family: "Aleo Regular", Aleo, sans-serif ;
   font-size: 14px;

}
.choose{
  background: url("../images/castle.png") no-repeat center;
}
.flex-choose{
  display: flex;
  width: 1110px;
  justify-content: space-between;
  padding-bottom: 120px;
}
article.choose-text{
  padding-top: 185px;
  width: 540px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}
button{
  width: 227px;
  height: 60px;
  background-image: linear-gradient(to right, #496bfe, #5474fd);
  color: #FFFFFF;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Aleo Regular", Aleo, sans-serif ;
cursor: pointer;
}

div.view{
  width: 480px;
  padding-top: 115px;
  display: flex;
  flex-direction: column;

}
.view img:first-child{
  align-self: flex-start;
}
.view img:nth-child(2){
  align-self: flex-end;
  padding-top: 6px;
}
.advantages{
  background-color: #333333;
}
.icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 335px;
}
.item-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 145px;
}
.spain{
  background: url("../images/mountains.png") no-repeat center;
}
.padding-spain{
  padding: 120px 0 120px 570px;

}
.text-spain{
  width: 540px;
  background-color: rgba(43, 37, 38, 0.62);
  min-height: 375px;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.text-spain span{
  font-family: "Josefin Sans Regular", Josefin Sans, sans-serif ;
  font-size: 20px;
}
.text-spain button{
  align-self: flex-end;
}
.testament{
  background: url("../images/tourist_bg.png") no-repeat center;
}
.heading{
  text-align: center;

}
.padding-tourist{
  min-height: 732px;
  padding: 100px 0 195px 0;
}
.tourist{
  display: flex;
  min-height: 284px;
  align-items: center;
padding-top: 80px ;

}
article.text-tourist{
  background-color: #333333;
  width: 665px;
  height: 284px;
  padding: 45px;

}
.quotations{
  position: relative;
  top: 15px;
}

.text-tourist p{

  text-indent: 30px;
}
footer{
  background-color: #232323;
}
.flex-footer{
  width: 220px;
  margin: 0 auto;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 110px 0 50px 0;
}
.flex-footer span{
  font-family: "Josefin Sans Regular", Josefin Sans, sans-serif ;
  font-size: 16px;
  letter-spacing: 1px;

}
.follow-us{
  display: flex;
  width: 170px;
  justify-content: space-between;
}
.modal-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-overlay.active {
  display: flex;
  z-index: 999;
}
.modal-body {
  width: 600px;
  min-height: 400px;
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 24px;
  margin: auto;
}
button.center{
  margin: 0 auto;
  display: block;
}
